@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import '~antd/dist/antd.css';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #333333;
	color: #ffffff
}

.container {
   margin: 30px auto;
	 width: 1200px;
   font-family: 'Lato', sans-serif;
}

.header {
	width: 400px;
	margin-top: 0px;
	margin-bottom: 30px;
	font-family: 'Lato', sans-serif;
}

.header .text{
	 font-size: 1.5rem;
   font-family: 'Lato', sans-serif;
}

.header .add{
   position: relative;
}

.button-container {
	width: 300px;
	margin: 50px auto;
	font-family: 'Lato', sans-serif;
}

.image {
	margin-top: 50px;
	margin-bottom: 50px;
  width: 125px;
  padding: 0px;
}

.input-label {
	font-family: 'Lato', sans-serif;
	font-size: 28px;
	color: #ffffff
}

.input-container {
	font-family: 'Lato', sans-serif;
	width: 400px;
	margin: 50px auto;
}

.form-button {
	width: 400px;
	margin: 50px auto;
	font-family: 'Lato', sans-serif;
}

.error-text {
	font-family: 'Lato', sans-serif;
	color: #ffffff
}

.route-display {
	flex-direction: row;
	display: flex
}

.data-label {
	font-size: 24px;
	margin: 50px auto
}

.route-count {
	font-size: 18px;
	margin: 50px auto
}

.bar-graph{
	width: 600px;
	height: 300px;
	margin: 30px auto;
}

.pie-chart{
	width: 300px;
	height: 300px;
	margin: 30px auto;
}

.chart-label {
	font-size: 18px;
	text-align: center;
	margin: 30px auto;
}

.route-details {
	background-color: aliceblue;
	color: #333333
}

.route-details .title {
	font-size: 23px;
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

.route-details .comment-label {
	font-size: 16px;
	padding: 10px;
}

.route-details form {
  display:flex;
  flex-direction:row;
  border:1px solid grey;
  padding:2px;
}

.route-details form input {
  flex-grow:2;
  border:none;
}

.route-details input:focus {
  outline: none;
}

.route-details button {
  border:1px #1DA1F2;
  background:#1DA1F2;
  color:white;
}

.profile-container {
	margin: 30px auto;
	width: 600px;
	font-family: 'Lato', sans-serif;
}


@media only screen and (max-device-width: 480px) {
	.header {
		width: 300px;
		margin: 0px auto 30px auto;
	}

	.input-label {
		font-family: 'Lato', sans-serif;
		font-size: 28px;
		color: #ffffff
	}
	
	.input-container {
		font-family: 'Lato', sans-serif;
		width: 300px;
		margin: 50px auto;
	}

	.form-button {
		width: 300px;
		margin: 50px auto;
		font-family: 'Lato', sans-serif;
	}

	.header .text{
		font-size: 1.3rem;
		color: #ffffff;
 	}

 	.container {
		width: 320px;
		margin: 10px auto;
	}

	.bar-graph{
		width: 400px;
		height: 200px;
	}

	.pie-chart{
		width: 300px;
		height: 200px;
	}
}

@media only screen and (min-device-width: 500px) and (max-device-width: 1100px) {
	.header {
		width: 575px;
		margin: 0px auto 30px auto;
	}

	.input-label {
		font-family: 'Lato', sans-serif;
		font-size: 28px;
		color: #ffffff
	}
	
	.input-container {
		font-family: 'Lato', sans-serif;
		width: 550px;
		margin: 50px auto;
	}

	.form-button {
		width: 550px;
		margin: 50px auto;
		font-family: 'Lato', sans-serif;
	}

	.header .text{
		font-size: 1.3rem;
		color: #ffffff;
 	}

 	.container {
		width: 575px;
		margin: 10px auto;
	}

	.bar-graph{
		width: 600px;
		height: 200px;
	}

	.pie-chart{
		width: 600px;
		height: 200px;
	}
}
