@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import '~antd/dist/antd.css';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #333333;
	color: #ffffff
}

.container {
   margin: 30px auto;
   width: 500px;
   font-family: 'Lato', sans-serif;
}

.header {
	width: 500px;
	margin: 50px auto;
	font-family: 'Lato', sans-serif;
}

.header .text{
   font-size: 1.5rem;
   font-family: 'Lato', sans-serif;
}

.header .add{
   position: relative;
}

.button-container {
	width: 300px;
	margin: 50px auto;
	font-family: 'Lato', sans-serif;
}

.image {
	margin-top: 100px;
	margin-bottom: 50px;
  width: 125px;
  padding: 0px;
}

.input-label {
	font-family: 'Lato', sans-serif;
	font-size: 28px;
	color: #ffffff
}

.input-container {
	font-family: 'Lato', sans-serif;
	width: 400px;
	margin: 50px auto;
}

.form-button {
	width: 400px;
	margin: 50px auto;
	font-family: 'Lato', sans-serif;
}

.error-text {
	font-family: 'Lato', sans-serif;
	color: #ffffff
}

.route-display {
	flex-direction: row;
	display: flex
}

.bar-graph{
	width: 600px;
	height: 300px;
	margin: 30px auto;
}

.pie-chart{
	width: 300px;
	height: 200px;
	margin: 100px auto;
}

.chart-label {
	font-size: 18px;
	text-align: center;
	margin: 30px auto;
}

@media only screen and (max-device-width: 480px) {
	.header {
		width: 300px;
		margin: 30px auto;
	}

	.header .text{
		font-size: 1.3rem;
 }

 .container {
	width: 300px;
	}

	.bar-graph{
		width: 400px;
		height: 200px;
	}

	.pie-chart{
		width: 300px;
		height: 150px;
		margin: 100px auto;
	}
}
