@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import '~antd/dist/antd.css';

.header {
   width: 500px;
   margin: 50px auto;
   font-family: 'Lato', sans-serif;
}

.container {
   margin: 30px auto;
   width: 500px;
   font-family: 'Lato', sans-serif;
}

.pie-chart{
   width: 300px;
   margin: auto;
}
.bar-graph{
   width: 800px;
   margin: 50px auto;
}

.header-text{
   display: inline-block;
   vertical-align: middle;
   font-size: 22px;
   font-family: 'Lato', sans-serif;
}

.header-button{
   display: inline-block;
   vertical-align: middle;
   position: relative;
   transform: translateX(369px);
}
