@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import '~antd/dist/antd.css';

body {
   background-color: #f7f7f7;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   margin: 0;
   font-family: 'Lato', sans-serif;
}

.container {
   margin: 30px auto;
   width: 500px;
}

.header {
   align-items: center;
   background-color: #dd33dd;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.header-text{
   display: inline-block;
   vertical-align: middle;
   font-size: 22px;
   font-family: 'Lato', sans-serif;
}

.header-button{
   display: inline-block;
   vertical-align: middle;
   position: relative;
   transform: translateX(369px);
}

.grid-style {
   padding: "0px";
   margin: "0px";
   text-align: "center";
   vertical-align: "middle";
}